* {
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(59, 51, 51);
}

h1 {
    text-align: center;
    color: rgb(199, 2, 2);
    font-size: 80px;
}

#text {
    text-align: center;
    display: block;
    margin: auto;
    width: 300px;
    height: 40px;
    background-color: rgb(125, 108, 108);
    border: 2px;
    border-radius: 20px;
    border-color: rgb(125, 108, 108);
    color: aliceblue;
    font-size: 20px;
}

p {
    color: aliceblue;
    font-size: 20px;
    text-align: center;
}

#stackedDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#stacked, #stackedReversed {
    text-orientation: upright;
    writing-mode: vertical-lr;
}

#stackedSide, #stackedReversedSide {
    writing-mode: vertical-lr;
}

#diagonal, #diagonalReversed {
    transform: rotate(-45deg);
}

#diagonalUpsideDown, #diagonalUpsideDownReversed {
    transform: rotate(225deg);
}